__pycache__
*.ckpt
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/outputs
/log
/embeddings
/styles.csv
/styles.csv.bak
/interrogate
/.idea
notification.mp3
/SwinIR
/textual_inversion
